<footer class="page-wrap">
    <div id="footer-content">
    	<div>
    		<h3>Random things about me</h3>
			
			<p>I was born in Italy and live in London</p>
			<p>I'm currently backpacking around South America</p>
			<p>I love wine...but you probably already guessed that<br>
			(WSET Level 2 Award in Wines and Spirits) </p>
    	</div>

		<div>
			<h3>Contact</h3>
			
							<p class="footer-email"><i class="icon-email"></i> travellingwithawineglass@gmail.com</p>
		</div>
    </div>

    <div id="social-icons">
	    <a class="icon-fb" href="https://www.facebook.com/travellingwithawineglass/timeline">Facebook</a>
	    <a class="icon-twitter" href="https://twitter.com/Travelwineglass">Twitter</a>
	    <a class="icon-rss" href="{{@blog.url}}/rss/">RSS</a>
	</div>

    <div id="copyrights">
         <section class="copyright">All content copyright <a href="{{@blog.url}}/">{{@blog.title}}</a> &copy; {{date format="YYYY"}} &bull; All rights reserved. <a href="http://www.travellingwithawineglass.com/privacy-policy">Privacy policy</a></section>
         <section class="poweredby">Proudly published with <a class="icon-ghost" href="http://ghost.org">Ghost</a></section>
    </div>
</footer>